<!-- <link rel="stylesheet" href="styles/auth.style.css">
<main>
    <div class="container forgot-password-container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Forgot Password</div>
                    <div class="card-body">
                        <% if (errors.length > 0) { %>
                            <div class="alert alert-danger">
                                <ul>
                                    <% errors.forEach(function(error) { %>
                                        <li><%= error.msg %></li>
                                    <% }) %>
                                </ul>
                            </div>
                        <% } %>
                        <form action="/forgot_password" method="POST">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Send OTP</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> -->


<link rel="stylesheet" href="/styles/auth.style.css">

<main class="main-forgot-password">
    <div class="forgot-password-container">
        <div class="forgot-password-form">
            <h2 class="forgot-password-heading">Forgot Password</h2>

            <% if (errors.length > 0) { %>
                <div class="alert alert-danger">
                    <ul>
                        <% errors.forEach(function(error) { %>
                            <li><%= error.msg %></li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>

            <form action="/forgot_password" method="POST">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-forgot-password">Send OTP</button>
            </form>
        </div>
        <div class="forgot-info">
            <div class="forgot-info-content">
                <h3 class="forgot-help">Need Help?</h3>
                <p class="help-text">If you encounter issues, please contact our support team for assistance!</p>
                <button class="btn btn-help" onclick="window.location.href='/faq'">FAQ</button>
            </div>
        </div>
    </div>
</main>
