* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e0ebeb;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.main-reset-password {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reset-password-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.reset-password-form {
    width: 60%;
    padding: 50px;
}

.reset-info {
    width: 40%;
    background-image: url('https://images.unsplash.com/photo-1517649763962-0c623066013b?q=80&w=2070&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    text-align: center;
}

.reset-info-content {
    background-color: #000;
    opacity: 0.8;
    border-radius: 10px;
    padding: 10px;
}

.reset-password-heading {
    font-family: 'Roboto Mono';
    font-size: 2rem;
    margin-bottom: 40px;
}

.reset-help {
    font-family: 'Roboto Mono';
    font-size: 2rem;
    margin-bottom: 20px;
}

.help-text {
    font-family: 'Roboto Mono';
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-bottom: 15px;
    border: none;
    transition: all 0.3s;
}

.btn-reset-password {
    background-color: #2e8b57;
    color: white;
    width: 100%;
}

.btn-help {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.btn-help:hover, .btn-reset-password:hover {
    opacity: 0.8;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 0.9rem;
    color: #999;
    margin-bottom: 5px;
}

.form-group input {
    font-size: 1rem;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .reset-password-container {
        flex-direction: column;
        height: auto;
    }

    .reset-password-form, .reset-info {
        width: 100%;
        padding: 20px;
    }

    .reset-password-heading, .reset-help {
        font-size: 1.5rem;
    }

    .help-text {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .reset-password-form {
        padding: 15px;
    }

    .reset-info {
        padding: 30px 15px;
    }

    .reset-password-heading, .reset-help {
        font-size: 1.25rem;
    }
}
